.newproductcon{
    background-color: #435c70;
    padding: 25px;
    width: 70%;
    margin: 0 auto;
}

.formcontainer{
    display: flex;
}
.form{
display: flex;
height: 100%;
flex-direction: column;
}
.formsection{
    padding: 1rem;
    flex-basis: 50%;
    flex-grow: 1;
    max-width: 50%;
}
.form label{
    color: white;
    font-size: large;
    text-align: left;
    margin-bottom:10px ;
    display: block;
}
.form input, .form textarea, .form select, .form option{
    padding: 15px 18px;
    border-radius: 0px;
    background-color: #54657d;
    color: #fff;
    border: 0;
    margin-bottom: 17px;
    font-size: large;
}
.form select{
    color: #acc6de;
}
.x{
    display: flex;
    justify-content: space-between;
}
.x .field{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.addprobtn{
    width: 100%;
    color: #fff;
    background-color: #f5a623;
    border: 2px solid #f5a623;
    font-size: 90%;
    font-weight: 600;
    border-radius: 0;
    padding: 13px 28px;
    transition: all 0.2s ease;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}
.addprobtn:hover{
    background-color: #435c70;
    color: #f5a623;
}
.image{
    position: relative;
    max-width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #aaa;
}
.image:hover{
    cursor: pointer;
}

/* .avatardelete{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    padding: 14px;
    border-radius: 50%;
    background-color: rgba(57, 78, 100, 0.7);
    display: inline-block;
    
    width: 50px;
    height: 50px;
    text-align: center;
    display: none;
    transition: all 0.2s ease;
} */
.avatardelete{
     position: absolute;
    z-index: 1000;
    padding: 14px;
    border-radius: 50%;
    background-color: rgba(57, 78, 100, 0.7);
    align-items:center;
    justify-content:center;
    width: 50px;
    height: 50px;
    text-align: center;
    display: none;
    transition: all 0.2s ease;
}

.image i{
    font-size: 1.8rem;
    color: #fff;
}

.image:hover .avatardelete{
    display: flex;
}


@media screen and (max-width:800px){
    .newproductcon{
        width: 90%;
    }
    .formcontainer{
        flex-direction: column;
    }
    .formsection{
        max-width: 100%;
    }
    .x{
        flex-direction: column;
    }
    .x .left {
        width: 100%;
    }
    /* .formsection{
        flex-basis:100%
    } */
}