.order{
    max-height: 30rem;
    background-color: #435c70;
    overflow-y: scroll;
    padding: 2.5rem;

}
.order h2{
    margin: .8rem;
    color: white;
}
.table{
    overflow-y: scroll;
    width: 100%;
    background-color: #50697f;
    color: #fff;
    font-size: 85%;
    margin-bottom: 0;
    border-collapse: collapse;
    border-spacing: 2px;
}
.table thead{
    background-color: #486177;
}

.table th,table td{
    border-top: 1px solid #415a70;
    padding: 15px 25px;
    vertical-align: middle;
}
.trow{
    text-align: center;
    border-bottom: 1px solid #415a70;
}
.trow:hover{
    color: #a0c0de;
    background-color: rgba(0,0,0,.075);
}